@import "tailwindcss";

* {
  font-family: "Be Vietnam Pro", "Be Vietnam Pro Placeholder", sans-serif
}

:root {
  --primary-color: #102f4e;
  --secondary-color: #7C4E09;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #222;
}

.recharts-wrapper,
.recharts-wrapper:focus,
.recharts-wrapper:focus-visible,
.recharts-wrapper *,
.recharts-surface,
.recharts-surface:focus,
.recharts-surface:focus-visible {
  outline: none !important;
}

.overall-bg {
  position: relative;
  /* Make sure children sit above the background */
  z-index: 1;
}

.overall-bg::before {
  content: "";
  position: fixed;
  inset: 0; /* covers top, right, bottom, left */
  background-image: url('../public/assets/icon-192.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px auto; /* Sets width to 500px and maintains aspect ratio */
  opacity: 0.1;
  z-index: -1;
}